section {
    max-width: 1920px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 150px;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.line {
    height: 4px;
    width: 730px;
    background-color: #4B47FF;
}

.headline {
    text-align: center;
}

.contactSection {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.contactText {
    max-width: 473px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;

    >span {
        font-size: 32px;
        font-weight: 700;
    }
}

.contactInput {
    color: white;
    width: 617px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    >div {

        display: flex;
        gap: 10px;

        >a {
            color: #4B47FF;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.inputThose {
    display: flex;
    flex-direction: column;
    max-width: 617px;

    >p {
        font-size: 14px;
        color: red;
    }

    >input {
        height: 20px;
        border: 1px solid #4B47FF;
        border-radius: 8px;
        background-color: #141D2F;
        color: white;
        font-size: 16px;
        padding: 15px 25px 15px 25px;

        &::placeholder {
            font-size: 16px;
            color: white;
        }
    }

    >textarea {
        height: 1000px;
        resize: none;
        font-family: 'Poppins';
        height: 203px;
        border: 1px solid #4B47FF;
        border-radius: 8px;
        background-color: #141D2F;
        color: white;
        font-size: 16px;
        padding: 15px 25px 15px 25px;

        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            color: white;
        }
    }
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    >button {
        width: 195px;
        height: 49px;
        width: Hug (195px)px;
        padding: 15px 30px 15px 30px;
        gap: 10px;
        border: 0;
        border-radius: 10px;
        background-color: #B6B6B6;
        font-size: 16px;
        color: white;
    }
}

.inputPolicy {
    display: flex;
    flex-direction: column;

    >div {
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 10px;

        >p {
            >a {
                text-decoration: none;
                color: #4B47FF;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        >img {
            width: 20px;
            height: 20px;

            &:hover {
                cursor: pointer;
                border-radius: 50px;
                background-color: #183771;
            }
        }
    }

    >p {
        font-size: 14px;
        color: red;
    }
}

@media (max-width: 1300px) {
    .contactInput {
        max-width: 450px;
    }

    .inputThose {
        max-width: 450px;
    }

    .contactSection {
        justify-content: space-between;
    }

    .inputPolicy {
        max-width: 500px;
        word-break: break;
    }
}

@media (max-width: 1150px) {
    .contactText {
        width: 350px;

        >span {
            font-size: 25px;
        }
    }

    .contactInput {
        max-width: 350px;
    }

    .inputThose {
        max-width: 350px;
    }

    .contactSection {
        justify-content: space-around;
    }
}

@media (max-width: 860px) {
    .contactSection {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .contactInput {
        max-width: 550px;
    }

    .inputThose {
        max-width: 550px;
    }

    .contactText {
        width: 550px;
    }
}

@media (max-width: 690px) {
    .contactInput {
        max-width: 350px;
    }

    .inputThose {
        max-width: 350px;
    }

    .contactText {
        width: 350px;
    }
}

@media (max-width: 500px) {
    .contactText {
        >p {
            font-size: 13px;
        }
    }

    .inputThose {
        >p {
            font-size: 10px;
        }
    }

    .inputPolicy {
        >p {
            font-size: 10px;
        }
        
    }
}

@media (max-width: 440px) {
    .contactInput {
        max-width: 250px;
    }

    .inputThose {
        max-width: 250px;
    }

    .contactText {
        width: 250px;
    }

    .input {
        >button {
            width: 150px;
            height: 49px;
            font-size: 13px;
        }
    }

    .inputPolicy {

        >div {
            >p {
                font-size: 10px;
            }
        }
    }
}