section {
    position: relative;
    height: 80vh;
    width: 100vw;
    max-width: 1920px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 150px;
}

.backToTop {
    position: absolute;
    right: 100px;
    bottom: 50px;

    &:hover {
        cursor: pointer;
    }
}

.backToTop svg {
    transition: fill 0.3s ease-in-out;
}

.backToTop:hover svg rect {
    stroke: #00BEE8;
}

.backToTop:hover svg path {
    fill: #00BEE8;
}

.blue {
    position: absolute;
    z-index: -1;
    left: -300px;
    bottom: -200px;
}

.checkbox-wrapper-30 {
    height: 37px;
    display: grid;
    place-items: center;
}

.checkbox-wrapper-30 .checkbox {
    --bg: transparent;
    --brdr: rgb(255 255 255 / 10%);
    --brdr-actv: #00BEE8;
    --brdr-hovr: rgb(255 255 255 / 20%);
    --dur: calc((var(--size, 2) / 2) * 0.6s);
    display: inline-block;
    width: calc(var(--size, 1.4) * 22px);
    position: relative;
}

.checkbox-wrapper-30 .checkbox:after {
    content: "";
    width: 100%;
    padding-top: 100%;
    display: block;
}

.checkbox-wrapper-30 .checkbox>* {
    position: absolute;
}

.checkbox-wrapper-30 .checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background-color: var(--bg);
    border-radius: calc(var(--size, 1) * 4px);
    border: calc(var(--newBrdr, var(--size, 1.4)) * 1px) solid;
    color: var(--newBrdrClr, var(--brdr));
    outline: none;
    margin: 0;
    padding: 0;
    transition: all calc(var(--dur) / 3) linear;
}

.checkbox-wrapper-30 .checkbox input:hover,
.checkbox-wrapper-30 .checkbox input:checked {
    --newBrdr: calc(var(--size, 1) * 2);
}

.checkbox-wrapper-30 .checkbox input:hover {
    --newBrdrClr: var(--brdr-hovr);
}

.checkbox-wrapper-30 .checkbox input:checked {
    --newBrdrClr: var(--brdr-actv);
    transition-delay: calc(var(--dur) / 1.3);
}

.checkbox-wrapper-30 .checkbox input:checked+svg {
    --dashArray: 16 93;
    --dashOffset: 109;
}

.checkbox-wrapper-30 .checkbox svg {
    fill: none;
    left: 0;
    pointer-events: none;
    stroke: var(--stroke, var(--border-active));
    stroke-dasharray: var(--dashArray, 93);
    stroke-dashoffset: var(--dashOffset, 94);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    top: 0;
    transition: stroke-dasharray var(--dur), stroke-dashoffset var(--dur);
}

.checkbox-wrapper-30 .checkbox svg,
.checkbox-wrapper-30 .checkbox input {
    display: block;
    height: 100%;
    width: 100%;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.popup-container {
    position: relative;
}

.popup-container {
    position: relative;
  }
  
  .popup {
    position: absolute;
    top: 200px;
    right: -400px;
    width: 250px;
    background-color: #00BEE8;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }
  
  .popup.show {
    right: 20px;
    opacity: 1;
    visibility: visible;
  }
  
  .popup.hide {
    right: -400px;
    opacity: 0;
    visibility: hidden;
  }

.line {
    height: 4px;
    width: 730px;
    background-color: #4B47FF;
}

.headline {
    text-align: center;
}

.contactSection {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.contactText {
    max-width: 473px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;

    >span {
        font-size: 32px;
        font-weight: 700;
    }
}

.contactInput {
    color: white;
    width: 617px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    >div {

        display: flex;
        gap: 10px;

        >a {
            color: #4B47FF;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

input[type=text],
[type=email],
select {
    font-family: 'Poppins';
    color: white;
    width: 100%;
    padding: 12px;
    border: 1px solid #4B47FF;
    box-sizing: border-box;
    resize: vertical;
    border-radius: 10px;
    background-color: #141D2F;

    &::placeholder {
        font-size: 12px;
        font-weight: 400;
        color: white;
    }
}

textarea {
    font-family: 'Poppins';
    color: white;
    resize: none;
    border: 1px solid #4B47FF;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #141D2F;
    height: 203px;
    padding: 12px;

    &::placeholder {
        font-size: 12px;
        font-weight: 400;
        color: white;
    }
}

input[type=submit] {
    background-color: #4B47FF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
}

input[type=submit].invalid {
    background-color: #00BEE8;
    /* Rot für ungültige Formulare */
}

input[type=submit].valid {
    background-color: #4B47FF;
    /* Grün für gültige Formulare */
}

.input-container {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    >p {
        font-size: 12px;
        color: red;
    }
}

.input-container input,
.input-container textarea {
    border: 1px solid #4B47FF;
    background-color: #141D2F;
    color: white;
    font-family: 'Poppins';
    padding: 12px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    background-repeat: no-repeat;
    background-position: right 10px top 10px;
    background-size: 20px 20px;
}

.input-container input.invalid,
.input-container textarea.invalid {
    border-color: red;
    background-image: url('./../../../assets/img/contact/required.png');
}

.input-container input.valid,
.input-container textarea.valid {
    border-color: green;
    background-image: url('./../../../assets/img/contact/checkmark.png');
}

.input-container input::placeholder,
.input-container textarea::placeholder {
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.input-container input.invalid::placeholder,
.input-container textarea.invalid::placeholder {
    color: red;
}

.input-container input.valid::placeholder,
.input-container textarea.valid::placeholder {
    color: green;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.submit {
    width: 195px;
    height: 49px;
    padding: 15px 30px;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #B6B6B6;
}

.submit-valid {
    background-color: #00BEE8;
}

.submit-invalid {
    background-color: #B6B6B6;
}


.inputPolicy {
    display: flex;
    flex-direction: column;

    >div {
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 10px;

        >p {
            >a {
                text-decoration: none;
                color: #4B47FF;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        >img {
            width: 20px;
            height: 20px;

            &:hover {
                cursor: pointer;
                border-radius: 50px;
                background-color: #183771;
            }
        }
    }

    >p {
        font-size: 12px;
        color: red;
    }
}

@media (max-width:1920px) {
    section {
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

@media (max-width: 1300px) {
    .contactInput {
        max-width: 450px;
    }

    .inputThose {
        max-width: 450px;
    }

    .contactSection {
        justify-content: space-between;
    }

    .inputPolicy {
        max-width: 500px;
        word-break: break;
    }
}

@media (max-width: 1150px) {
    .contactText {
        width: 350px;

        >span {
            font-size: 25px;
        }
    }

    .contactInput {
        max-width: 350px;
    }

    .inputThose {
        max-width: 350px;
    }

    .contactSection {
        justify-content: space-around;
    }
}

@media (max-width: 860px) {
    section {
        height: 110vh;
    }

    .contactSection {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .blue {
        position: absolute;
        z-index: -1;
        left: -300px;
        bottom: -300px;
    }

    .contactInput {
        max-width: 550px;
    }

    .inputThose {
        max-width: 550px;
    }

    .contactText {
        width: 550px;
    }

    .backToTop {
        position: absolute;
        right: 50px;
        bottom: 50px;
    }
}

@media (max-width: 690px) {
    .contactInput {
        max-width: 350px;
    }

    .inputThose {
        max-width: 350px;
    }

    .contactText {
        width: 350px;
    }
}

@media (max-width: 500px) {
    .contactText {
        >p {
            font-size: 13px;
        }
    }

    .inputThose {
        >p {
            font-size: 10px;
        }
    }

    .inputPolicy {
        >p {
            font-size: 10px;
        }

    }
}

@media (max-width: 440px) {
    .contactInput {
        max-width: 250px;
    }

    .inputThose {
        max-width: 250px;
    }

    .contactText {
        width: 250px;
    }

    .submit {
        width: 150px;
        height: 49px;
        font-size: 13px;
    }


    .inputPolicy {

        >div {
            >p {
                font-size: 10px;
            }
        }
    }
}

@media (max-height: 670px) {
    section {
        height: 150vh;
    }
}