footer {
    height: 291px;
    width: 98vw;
    max-width: 1920px;
    background-color: #141D2F;
    border-top: 4px solid #00BEE8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}


.impressum {
    display: none;
}

.impressumShow {
    display: none;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 10px;


    >a {
        text-decoration: none;
        color: white;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #00BEE8;
            transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
        }

        &:hover {
            cursor: pointer;

            &::after {
                width: 50px;
                left: 0;
            }
        }
    }
}

.links {
    display: flex;
    gap: 40px;

    >a {
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
            transition: transform 0.2s ease-in-out;
        }
    }
}

.copyright {
    font-size: 23px;
}

.logo {
    width: 135px;

    .cls-1 {
        fill: #00bee8;
    }

    .cls-1,
    .cls-2,
    .cls-3 {
        stroke-width: 0px;
    }

    .cls-2 {
        fill: #4b47ff;
    }

    .cls-3 {
        fill: #fff;
    }
}

@media (max-width: 1600px) {
    footer {
        justify-content: space-around;
    }

    .logo {
        padding-left: 0;
    }

    .links {
        padding-right: 0;
    }
}

@media (max-width: 800px) {
    footer {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
    }

    .logo {
        padding-left: 0;
        >a {
            display: none;
        }
    }

    .impressumShow {
        display: block;
    }

    .links {
        padding-right: 0;
    }

    .impressum {
        display: block;
        text-decoration: none;
        color: white;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #00BEE8;
            transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
        }

        &:hover {
            cursor: pointer;

            &::after {
                width: 50px;
                left: 0;
            }
        }
    }
}