.aboveTheFold {
    position: relative;
    height: 87.9vh;
    width: 100vw;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: white;
}

.de-font-size {
    font-size: 18px !important;
}

.blue {
    width: 650px;
    position: absolute;
    top: 150px;
    left: 0;
    margin-left: -250px;
}

.green {
    position: absolute;
    right: -500px;
    top: 100px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullName {
    font-size: 128px;
    font-weight: 700;
    text-align: left;
    padding-top: 20px;
    height: 170px;
}

.dev {
    font-size: 64px;
    font-weight: 400;
    text-align: left;
    color: #9747FF;
    padding-bottom: 50px;
}

.rotation {
    font-size: 90px;
    font-weight: 400;
    text-align: center;
    transform: rotate(270deg);
}

.talkBtn {
    padding: 15px 30px 15px 30px;
    border: 0;
    border-radius: 10px;
    font-size: 23px;
    background-color: #00BEE8;

    &:not(.aboveTheFold) {
        color: white;
    }

    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
        background-color: #4B47FF;
        cursor: pointer;
    }
}

.links {
    position: absolute;
    bottom: 0;
    width: 100vw;
    max-width: 1920px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.hyperLinks {
    display: flex;
    align-items: center;
    gap: 40px;

    img {
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.3);
            cursor: pointer;
        }
    }
}

.scrollDown {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 100px;
    transform: rotate(90deg);
    font-size: 23px;

    >svg {
        transform: rotate(270deg);
    }
}

@media (max-width: 1300px) {
    .rotation {
        font-size: 60px;
    }

    .fullName {
        font-size: 98px;
        padding-top: 30px;
        height: 130px;
    }

    .dev {
        font-size: 34px;
    }

}

@media (max-width: 1030px) {
    .rotation {
        font-size: 50px;
    }

    .fullName {
        font-size: 65px;
        padding-top: 40px;
        height: 90px;
    }

    .dev {
        font-size: 34px;
    }
}

@media (max-width: 850px) {
    .rotation {
        font-size: 45px;
    }

    .fullName {
        font-size: 55px;
        padding-top: 40px;
        height: 80px;
    }

    .dev {
        font-size: 34px;
    }

    .scrollDown {
        display: none;
    }

    .blue {
        width: 500px;
        top: 150px;
        left: 0;
    }

    .green {
        width: 500px;
        top: 300px;
        right: -300px;
    }
}

@media (max-width: 800px) {
    .rotation {
        font-size: 30px;
    }

    .fullName {
        font-size: 48px;
        padding-top: 50px;
        height: 50px;
    }

    .blue {
        width: 400px;
        top: 200px;
        left: 100px;
    }

    .dev {
        font-size: 30px;
    }
}

@media (max-width: 520px) {
    .rotation {
        font-size: 20px;
    }

    .fullName {
        font-size: 28px;
        padding-top: 50px;
        height: 30px;
    }

    .dev {
        font-size: 18px;
    }

    .talkBtn {
        padding: 15px 30px 15px 30px;
        border: 0;
        border-radius: 10px;
        font-size: 15px;
        background-color: #00BEE8;

    }

    .aboveTheFold {
        gap: 0;
    }

    .hyperLinks {
        left: -60px;

        gap: 25px;

    }

    .green {
        width: 300px;
        right: -200px;
        top: 400px;
    }

    .blue {
        width: 300px;
        top: 200px;
        left: 100px;
    }
}