section {
    padding-left: 100px;
    width: 100vw;
    max-width: 1920px;
    margin-top: 150px;
    height: 51vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    >p {
        >a {
            color: white;
        }
    }
}