<section id="skills" class="skills">
  <div class="skillsSektion" data-aos="flip-left" data-aos-delay="500" data-aos-duration="1000">
    <div class="skillsRow">
      <div>
        <img src="./../../assets/img/skills/Angular.png" alt="Angular" srcset="">
        <p>Angular</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/JavScript.png" alt="JavaScript" srcset="">
        <p>JavaScript</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/Typescript.png" alt="Typescript" srcset="">
        <p>TypeScript</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/html.png" alt="html" srcset="">
        <p>HTML</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/Git.png" alt="Git" srcset="">
        <p>GIT</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/Firebase.png" alt="Firebase" srcset="">
        <p>Firebase</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/css.png" alt="css" srcset="">
        <p>CSS</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/Scrum.png" alt="Scrum" srcset="">
        <p>Scrum</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/api.png" alt="api" srcset="">
        <p>Rest-Api</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/Frame.png" alt="Frame" srcset="">
        <p>Material <br>design</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/learning.png" alt="api" srcset="">
        <p>Continually <br> learning</p>
      </div>
    </div>
  </div>
  <div class="skillsText">
    <div class="skillsHeadline">
      <h2>Skills</h2>
    </div>
    <span>
      {{'skills' | translate}}
    </span>
    <div class="looking">
      <h3>{{'skillsH3' | translate}}</h3>
      <p>{{'skillsP' | translate}}</p>
    </div>
    <span>
      {{'skillsKnowlege' | translate}}
    </span>

    <button id="talkBtn" class="talkBtn" (click)="scrollToSection('contact')">Get in touch</button>
  </div>
</section>