<section class="skills">
  <div class="skillsSektion">
    <div class="skillsRow">
      <div>
        <img src="./../../assets/img/skills/Angular.png" alt="Angular" srcset="">
        <p>Angular</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/JavScript.png" alt="JavaScript" srcset="">
        <p>JavaScript</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/Typescript.png" alt="Typescript" srcset="">
        <p>TypeScript</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/html.png" alt="html" srcset="">
        <p>HTML</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/Git.png" alt="Git" srcset="">
        <p>GIT</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/Firebase.png" alt="Firebase" srcset="">
        <p>Firebase</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/css.png" alt="css" srcset="">
        <p>CSS</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/Scrum.png" alt="Scrum" srcset="">
        <p>Scrum</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/api.png" alt="api" srcset="">
        <p>Rest-Api</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/Frame.png" alt="Frame" srcset="">
        <p>Material <br>design</p>
      </div>
      <div>
        <img src="./../../assets/img/skills/learning.png" alt="api" srcset="">
        <p>Continually <br> learning</p>
      </div>
    </div>
  </div>
  <div class="skillsText">
    <div class="skillsHeadline">
      <h2>Skills</h2>
      <svg width="291" height="4" viewBox="0 0 291 4" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 0C0.89543 0 0 0.89543 0 2C0 3.10457 0.89543 4 2 4V0ZM291 4H293V0H291V4ZM2 4H291V0H2V4Z"
          fill="#1CE6B6" />
      </svg>
    </div>
    <span>
      {{'skills' | translate}}
    </span>
    <div class="looking">
      <h3>{{'skillsH3' | translate}}</h3>
      <p>{{'skillsP' | translate}}</p>
    </div>
    <span>
      {{'skillsKnowlege' | translate}}
    </span>

    <button class="talkBtn">Get in touch</button>
  </div>
</section>