.feedbackArea {
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.feedback {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: white;
    width: 850px;
    height: 272px;
    border-radius: 16px;
    border: 4px solid #00BEE8;
}

.feedbackText {
    display: flex;
    width: 665px;
    height: 112px;
    font-size: 15px;
    word-break: break;
}

.feedbackName {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}

.quatiationMark {
    position: absolute;
    top: -40px;
    left: -60px;
}

.feedbackPerson {
    display: flex;
    align-items: center;
}

.feedbackImg {
    width: 272px;
    height: 272px;
    border-radius: 1000px;
    border: 4px solid #4B47FF;
}

.feedbackImg img {
    width: 272px;
    height: 272px;
    border-radius: 1000px;
}

.feedbackLine {
    height: 4px;
    width: 250px;
    background-color: #4B47FF;
}

.arrow {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.left-arrow {
    left: -30px;
}

.right-arrow {
    right: -30px;
}

.indicators {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.indicators span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4B47FF;
    cursor: pointer;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00BEE8 !important;
    cursor: pointer;
}

.dot.active {
    background-color: #4B47FF !important; 
}