<section class="feedbackArea">
    <div class="feedback">
        <div class="quatiationMark">
            <svg width="97" height="69" viewBox="0 0 97 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M30.6 68.1H0L28.8 0H48.3L30.6 68.1ZM79.2 68.1H48.6L77.4 0H96.9L79.2 68.1Z" fill="#4B47FF" />
            </svg>

        </div>
        <div class="feedbackText">
            Michael really kept the team together with his great organization and clear communication. We wouldn't have
            got this far without his commitment.
        </div>
        <div class="feedbackName">
            <svg width="405" height="2" viewBox="0 0 405 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M404.5 1H0" stroke="#4B47FF" stroke-width="2" />
            </svg>
            <p>V. Schuster - Team Partner</p>
        </div>
    </div>

    <div class="feedbackPerson">
        <div class="feedbackImg">
            <img src="./../../../assets/img/projects/testBild.png" alt="">
        </div>
        <div class="feedbackLine">

        </div>
    </div>
</section>