section {
    color: white;
    margin-top: 150px;
    margin-bottom: 150px;
    max-width: 1920px;
    width: 100vw;
    padding-left: 100px;
    padding-right: 100px;
    word-break: break;
    box-sizing: border-box;

    >h2 {
        font-size: 40px !important;
    }

    >h3 {
        font-size: 20px;
    }

    >p {
        font-size: 12px;

        >a {
            color: rgb(103, 103, 255);
        }
    }
}

.backToTop {
    rotate: -90deg;
    position: absolute;
    right: 100px;
    top: 130px;

    &:hover {
        cursor: pointer;
    }
}

.backToTop svg {
    transition: fill 0.3s ease-in-out;
}

.backToTop:hover svg rect {
    stroke: #00BEE8;
}

.backToTop:hover svg path {
    fill: #00BEE8;
}

@media (max-width: 850px) {
    .backToTop {
        right: 25px;
    }

    section {
        >h2 {
            font-size: 20px !important;
            line-height: 1;
        }
    }
}