<section id="portfolio" class="portfolio">
    <img class="green" src="./../../../assets/img/skills/blue.png" alt="" srcset="">
    <img class="blue" src="./../../../assets/img/projects/blue.png" alt="" srcset="">
    <img class="greenBot" src="./../../../assets/img/projects/green.png" alt="" srcset="">
    <div class="headline">
        <h2>Portfolio</h2>

        <p>{{'portfolio' | translate}}</p>
    </div>

    <div class="project">
        <app-project></app-project>
    </div>

    <div>
        <app-feedback></app-feedback>
    </div>
</section>