@for (project of projects; track $index) {
    <div class="project" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="2000">
        <img [src]="project.image" alt="">
      <div class="projectDescription">
        <span>{{ project.name }}</span>
        <p class="type">{{ project.type }}</p>
        <p class="description">{{ project.description | translate }}</p>
        <div class="buttons">
          <a [href]="project.link.liveTest" class="liveTest" target="_blank">Live test</a>
          <a [href]="project.link.github" class="github" target="_blank">Github</a>
        </div>
      </div>
    </div>
  }